<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#4d4d4d">
  <Rectangle class = "glavnaya">
      </Rectangle>


  <button type="button" class="knopkaNastroiki" href="#"><img src="https://i.imgur.com/Ih54xF6.png"></button>

  <a class="knopkaName" href="#">здесь будет имя</a>

  <button type="button" class="knopkaSozdat" href="#">создать</button>

  <p><h1><a class="top">Home</a></p>

    <p><h1 align="center"><a class="Ove4kinGram">Ove4kinGram</a></p>





</body>
</html>