{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#4d4d4d">
  <Rectangle class = "glavnaya">
      </Rectangle>
  <button type="button" class="knopkaSingUp" href="#"><h2>Sing Up</h2></button>
  <button type="button" class="knopkaLogIn" href="#"><h2>Log In</h2></button>

  <p><h1><a class="top">Home</a></p>
    <p><h1 align="center"><a class="Ove4kinGram">Ove4kinGram</a></p>


</body>
</html>